<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Для чего эта программа</string>
		<key>text</key>
		<string>	С помощью программы можно просто и удобно покупать, читать и  хранить электронные книги издательства &quot;Газетный мир &apos;Слог&apos;&quot;. 
	В приложении доступно множество книг издательства &quot;Газетный мир&quot; по разумным ценам, адаптированных для чтения на мобильных устройствах.
	Купленные книги привязываются к устройству пользователя, поэтому вы всегда сможете загрузить их снова, даже после переустановки приложения. 
	Мы всегда рады услышать ваши замечания и предложения о приложении &quot;Полезная книга &apos;Слог&apos;&quot;, пишите нам на электронную почту info@gmi.ru</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Как читать издания</string>
		<key>text</key>
		<string>	Книги, загруженные на устройство, находятся в секции &quot;Моя библиотека&quot;. В подразделе &quot;Демо-версия&quot; находятся неполные версии книг, в подразделе &quot;Список книг&quot; находятся полные версии приобретенных вами книг. 

	Чтобы прочитать книгу, нужно перейти к карточке книги, нажав на обложку, а затем нажать на кнопку &quot;Читать&quot; или &quot;Читать фрагмент&quot; в карточке книги.  	
   
	Для перелистывания страницы книги можно нажать на край экрана либо провести пальцем от края страницы, как при чтении настоящей книги. 
	При нажатии на центр страницы отображаются или скрываются верхняя и нижняя панели инструментов. 
	На верхней панели слева находится кнопка &quot;Назад&quot;, при нажатии на которую вы попадаете на предыдущее окно. 
 
	Книги в приложении могут быть двух форматов: FB2 и PDF. Интерфейсы чтения для этих форматов интуитивно понятны и аналогичны, но есть и отличия.

Особенности интерфейса при чтении FB2:
	На нижней панели находится указатель вашего текущего положения в книге. Двигая &quot;слайдер&quot;, вы можете осуществить быстрое перелистывание. 
	На верхней панели справа находятся кнопки: 
	⁃ &quot;Содержание&quot;- отображает окно с содержанием книги, если оно доступно.
	⁃ &quot;Закладки&quot; - отображает окно со списком закладок.
	⁃ &quot;Настройка шрифтов&quot; - отображает настройки цвета и размера текста, если они доступны.
	⁃ &quot;Добавить закладку&quot; - добавляет закладку на текущую страницу.
	Внутренние и внешние ссылки отображаются синим цветом. При переходе по внешней ссылке открывается внешний браузер. При переходе по внутренней ссылке на верхней панели появляется кнопка возврата на страницу, с которой был совершен переход.

Особенности интерфейса при чтении PDF:
       На нижней панели находятся предварительные изображения страниц. При нажатии на изображение осуществляется переход на соответствующую страницу.
        На верхней панели справа находятся кнопки: 
	⁃ &quot;Содержание&quot;- отображает окно с предварительными изображениями страниц всей книги.
	⁃ &quot;Добавить закладку&quot; - добавляет закладку на текущую страницу, если закладки доступны в книге.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Как покупать издания</string>
		<key>text</key>
		<string>	Для книг, которые еще не куплены, в списках и карточках книг отображается цена. Чтобы купить книгу, нужно нажать на цену в списке книг или на кнопку &quot;Купить&quot; в карточке книги. 
	Книги могут быть двух форматов fb2 и pdf. Формат отображается в списках и на карточке книги.
	Покупка производится с использованием вашей учетной записи Apple. Купленная книга загружается и помещается в список &quot;Список книг&quot;.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>О программе</string>
		<key>text</key>
		<string>    Приложение предоставляет возможность просто и удобно покупать, читать и хранить  электронные книги издательства &quot;Газетный мир &apos;Слог&apos;&quot;.
	
    Все права на электронные издания принадлежат издательству &quot;Газетный мир &apos;Слог&apos;&quot;.

    При разработке приложения использовались компоненты следующих разработчиков: Julius Oklamack, Boris Buglig, Flying Dolphin Studio, Mugunth Kumar, Gowalla, Sam Vermette, Stig Brautaset
</string>
	</dict>
</array>
</plist>
