<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NavigationBar</key>
	<dict>
		<key>BackgroundImage</key>
		<string>nav_bg.png</string>
		<key>CapWidth</key>
		<integer>0</integer>
		<key>CapHeight</key>
		<integer>0</integer>
	</dict>
	<key>NavigationBar_iPad</key>
	<dict>
		<key>TintColor</key>
		<string>{180, 6, 16, 255}</string>
		<key>CapWidth</key>
		<integer>1</integer>
		<key>CapHeight</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
